.p0 {
  padding: 0px !important;
}

body {
  background-image: url("https://wallpaperaccess.com/full/2425046.jpg");
  background-size: cover;
}

.bg-darker {
  @extend .bg-dark;

}
.fr {
  float: right;
}
.fs-smaller {
  font-size: smaller !important;
}
.top-search {
  background-color: rgb(255 255 255 / 3%);
  border: 1px solid rgb(255 255 255 / 15%) !important;
  color: white;
  transition: all ease 0.3s;
}
.top-search:hover {
  background-color: rgb(255 255 255 / 13%);
  box-shadow: none;
}
.top-search:focus {
  background-color: rgb(255 255 255 / 13%);
  border: 1px solid rgb(255 255 255 / 45%) !important;
  color: white;
  box-shadow: none;
}
.app-menu {
  position: absolute;
  right: 0px;
  top: 42px;
  min-width: 200px;
  }
  .app-item {
    background-color: rgba(0, 80, 149, 0.88);
    backdrop-filter: blur(2px);
  color: white;
  font-size: large;
  padding: 12px;
  width: 100%;
  display: block;
  text-decoration: none;
}
.app-item:hover {
  background-color: rgb(18 57 102 / 82%);
  backdrop-filter: blur(2px);
  color: white;
  box-shadow: inset 0px 0px 0px 1px rgb(255 255 255 / 29%);
}
.app-item.current {
  background-color: rgb(0 0 0 / 55%);
  backdrop-filter: blur(6px);
  color: white;
  text-align: right;
}
.small-gap {
  height: 3px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: block;
}
.br-0 {
  border-radius: 0px !important;
}
.modal-head-dark {
  background-color: rgba(18, 57, 102, 0.92);
  color: white;
  border-radius: 0px;
}
.modal-head-dark button {
  filter: invert(1);

}