.p0 {
  padding: 0px !important;
}
.nav-toggler {
  padding: 0px;
  border-radius: 0px;
  margin-right: 12px;
  border-color: transparent;
}
.nav-bg {
  background-color: rgb(0 80 149 / 58%);
  backdrop-filter: blur(4px);
}
.nav-bg a {
  color: white;
  transition: all ease 0.0s;
  font-size: smaller;
}
.nav-bg a:hover {
  background-color: rgb(0 80 149 / 58%);
  color: white;
  margin-top: -1px;
  margin-bottom: -1px;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.nav-bg li.active {
  background-color: rgba(0, 80, 149, 0.58);
  color: white;
  margin-top: -1px;
  margin-bottom: -1px;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: inset 0px 0px 19px -6px rgb(6 6 6 / 48%);
}
.nav-bg h6 > span {
  color: rgb(176 223 251);
}
body {
  background-image: url("https://wallpaperaccess.com/full/2425046.jpg");
  background-size: cover;
}

.bg-darker {
  @extend .bg-dark;

}
.fr {
  float: right;
}
.fs-smaller {
  font-size: smaller !important;
}
.top-search {
  background-color: rgb(255 255 255 / 3%);
  border: 1px solid rgb(255 255 255 / 15%) !important;
  color: white;
  transition: all ease 0.3s;
}
.top-search:hover {
  background-color: rgb(255 255 255 / 13%);
  box-shadow: none;
}
.top-search:focus {
  background-color: rgb(255 255 255 / 13%);
  border: 1px solid rgb(255 255 255 / 45%) !important;
  color: white;
  box-shadow: none;
}