

 .col-sidenav {
  overflow: auto;
  float: left;
  background-color: rgb(0 122 193 / 82%);
  position: fixed;
  z-index: 1;
  transition: all ease 0.3s;
  overflow: hidden;
  box-shadow: rgb(0 54 108 / 70%) 0px 0px 200px inset;
  height: 100vh;
  width: 60px;
  top: 0px;
  backdrop-filter: blur(3px);
 }


.nav-rail {
  position: fixed;
  z-index: 9;
  transition: all ease 0.3s;
  padding: 0px;
  opacity: 0;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.32);
  
}
.nav-rail:hover {
  background: rgba(255, 255, 255, 0.32);
  transition: all ease 0.3s;
  padding: 0px;
  opacity: 0.3;
  padding: 0px;
  z-index: 2;
  box-shadow: 3px 3px 9px rgb(213 213 213);
}
.menu-minimized .col-sidenav {
  width: 60px !important;
  //height: calc(100vh - 40px);
}

.menu-minimized .nav-rail {
  position: fixed;
  height: 100vh;
  margin-left: 0px;
  width: 8px !important;
  padding: 0px;
  top: 0px;
}

.menu-opened .nav-rail {
  
  top: 0px;
  height: 100vh;
  margin-left: 0px;
  width: 8px !important;
  padding: 0px;
}

@media screen and (max-width: 1900px){
}
  .menu-opened .col-sidenav {

      width: 300px !important;
      position: fixed;
  }
.col-main {
  width: calc(100% - 61px);
  float: left;
  margin-left: 60px;
}

// .col-sidenav {
//   transition: all ease 0.3s;
//   overflow: hidden;
//   height: revert;

//   height: calc(100vh - 40px);
//   box-shadow: rgb(0 54 108 / 70%) 0px 0px 200px inset;
// }
.btn-collapse, .btn-addItem, .btn-colorize, .btn-remove, .btn-archieve {
  float: right;

  padding-bottom: 3px;

  padding-left: 6px;
  color: #2a2a2a;
  padding-right: 6px;

  cursor: pointer;
  font-size: smaller;
  letter-spacing: 1px;
  margin-right: 6px;
}
.btn-remove, .btn-archieve {
  opacity: 0;
}
.catBox:hover {
  .btn-remove, .btn-archieve {
    opacity: 1;
  }
}
.btn-collapse:hover, .btn-addItem:hover, .btn-colorize:hover, .btn-remove:hover, .btn-archieve:hover {
  color: rgb(0, 77, 179);
}
.btn-collapse:active, .btn-addItem:active, .btn-colorize:active, .btn-remove:active, .btn-archieve:active {
  color: rgb(0, 43, 100);
}

.collapsed {
  border-bottom: 1px solid #e1e1e1;
}

.collapsed .uk-sortable {
  display: none;
}

.nav-bg a {
  color: white;
  transition: all ease 0s;
  font-size: smaller;
}
.icon-square {
  font-size: large;
  text-align: center;
  width: 32px;
  padding-right: 6px;
}
.menu-opened .icon-square {
  color: #adb5bd;
}

.uk-mt-half {
  margin-top: 10px !important;
}
.uk-mb-0 {
  margin-bottom: 0px !important;
}
.text-white {
  color: white;
}
.flex-column {
  flex-direction: column !important;
}

.uk-drag .uk-sortable {
  background-image: linear-gradient(45deg, #ffffff 37.50%, #e8e8e8 37.50%, #e8e8e8 50%, #ffffff 50%, #ffffff 87.50%, #e8e8e8 87.50%, #e8e8e8 100%);
background-size: 5.66px 5.66px;
}
.uk-drag .uk-sortable .uk-sortable {
  outline: dotted 3px #9e9e9e;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0px;
  margin-bottom: 12px;
  list-style: none;

  .textbadge {
    position: absolute;
    right: 6px;
    margin-top: 8px;
    display: inline-flex;
  }
  .badger {
    display: none;
  }
  .uk-badge {
    background: #03a9f4;
  }
}
.nav-item:hover a {
  text-decoration: none;
  color: white;
}
.nav-link {
  display: block;
  padding: 6px 12px 6px 12px;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: rgb(221, 221, 221);
}
.nav-divider-icon {
  display: none;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.sidebar-heading > span, .sidebar-heading > span {
  color: rgb(176, 223, 251);
}
.sidebar-heading {
  border-bottom: 1px solid rgb(185 218 243 / 75%);
}
.menu-minimized {
  .sitem-text {
    display: none;
  }
  .badger {
    display: block;
    padding: 0px;
    position: absolute;
    right: 6px;
    margin-top: -6px;
    height: 12px;
    min-width: 12px;
    background: #03a9f4;
  }
  .textbadge {
    display:  none;
  }
  .nav-divider-text {
    display: none;
  }
  .nav-divider-icon {
    display: block;
  }
  .icon-square {
    display: block;
  }
  .uk-padding-x-small {
    text-align: center;
  }
  .sidebar-heading span {
    color: #999; 
  }
      .sidebar-heading {
    border-bottom: 1px solid rgb(185 218 243 / 15%);
  }
}

.uk-padding-x-small {
  padding: 8px;
}

.uk-button-inshadow {
  box-shadow: inset 0px 0px 1px rgb(0 0 0 / 66%);
}

.uk-sideborder {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

@media screen and (max-width: 968px){
  .menu-minimized .col-sidenav {
      width: 0px !important;

  }
  .menu-minimized .nav-rail{
    margin-left:  0px !important;
  }
  .col-main {
    margin-left:  0px !important;
    width: 100%;
  }
}

.group-name-editor {
  border: none ;
  border-bottom:#03a9f4 1px solid;
  outline: none;
  font-size: inherit;
  color: #03a9f4;
}
.group-edited input {
  width: -webkit-fill-available;
}
.group-edited .uk-icon, .group-edited .counts, .group-edited .btn-collapse, .group-edited .btn-addItem  {
  display: none;
}
.btn-addItem {

}
.cardName {
  font-size: larger;
}

.catBox {
  transition: all ease 0.6s;
}
.uk-drag .catBox {
  transition: none;
}
.temper {
  opacity: 0.5;
  filter: blur(9px);
}
.menu-opened {
  outline: 1px solid rgb(3 169 244 / 29%);
  > div {
    box-shadow: 0 5px 15px rgb(12 167 209 / 49%);
  }
}
.menu-inverted {
  box-shadow: 0 5px 15px rgb(12 167 209 / 49%);
  background: #3d6496;
  ul {

    width: 100%;
  }
  li {
  display: flex;
    justify-content: space-between;
    width: 100%;
 }

  li > a, li > .uk-icon {
    color: #dbdbdb;
    transition: 0.3s;
  }
  li > .uk-icon {
    padding-top: 9px;
  }
  li:hover > a , li:hover > .uk-icon {
    color: #fff;
    text-shadow: 4px 2px 15px white;
  }
}

.not-archieved-list 
{
  .card-box {
    display: block;
  }
  .archieved{
    display: none !important;
  }
}

.archieved-list .card-box{
  .card-box {
    display: none;
  }
  .archieved{
    display: block !important;
  }
}

.type_exp {
  border-left: rgb(255 0 76 / 23%) 4px solid;
  .uk-card {
    border-left: rgb(255 0 76 / 23%) 5px solid;
    border-radius: 5px;
  }
}
.type_inc {
  border-left: rgb(0 175 14 / 30%) 6px solid;
  .uk-card {
    border-left: rgb(0 175 14 / 30%) 5px solid;
    border-radius: 5px;
  }
}
.type_trn {
  border-left: rgb(0 162 175 / 50%) 2px solid;
  .uk-card {
    border-left: rgb(0 162 175 / 50%) 5px solid;
    border-radius: 5px;
  }
}

select {
  .opt-header {
    font-weight: bold;
  }
}

.uk-margin-sm {
  margin-bottom: 6px;
}
.uk-card-sm {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
  background-color: white;
}
.itemTypeMarker {
  padding: 12px;
  font-size: small;
}
.uktm-1{
  background: #3985d1;
}
.uktm-2{
  background: #d68528;
}
.uktm-3{
  background: #b82b2b;
}

.bevent-header {
  justify-content: space-between;
    border-bottom: 1px solid #d1d1d1;
}
.bevent-day.today {
  box-shadow: 1px 1px 20px 0px lightgrey;
    padding: 12px;
    background: #ffffca;
    border-radius: 6px;
}

.tag-incom > div {
  border-left: 3px solid #2abf87;
}
.tag-expense > div  {
  border-left: 3px solid #e94676;
}
.tag-transfer > div  {
  border-left: 3px solid #00a2af;
}

.categorytag {
  border: 1px solid #cbcbcb;
  padding: 0px 12px;
  border-radius: 6px;
  background: #efefef;
}
.budgetable {
  
  .weekend {
    background: rgb(255 0 0 / 7%);
  }
  .daytotals {
    background: rgb(0 0 0 / 3%);
  }
  .totalofrow {
    background: rgb(0 0 0 / 6%);
    border-left: 1px solid #e5e5e5;
  }
  .tf_daytd {
    border-right: 1px solid #e5e5e5;
  }
}

.uk-button-incom {
  background-color: #2abf87;
  color: #fff;
}
.uk-button-expense {
  background-color: #e94676;
  color: #fff;
}
.uk-button-transfer {
  background-color: #00a2af;
  color: #fff;
}
.uk-button-percent {
  background-color: #db2909;
  color: #fff;
}
.uk-button-deposit {
  background-color: #721cb9;
  color: #fff;
}
.uk-button-incom:hover {
  background-color: #25a574;
  color: #fff;
}
.uk-button-expense:hover {
  background-color: #ca3e68;
  color: #fff;
}
.uk-button-transfer:hover {
  background-color: #0095a0;
  color: #fff;
}
.uk-button-percent:hover {
  background-color: #ca1f01;
  color: #fff;
}
.uk-button-deposit:hover {
  background-color: #6807b8;
  color: #fff;
}
.uk-button-incom:active, .uk-button-expense:active, .uk-button-transfer:active 
, .uk-button-percent:active
, .uk-button-deposit:active {
  box-shadow: inset 0px 0px 9px rgb(0 0 0 / 32%);
}

.uk-button-expense, .uk-button-incom, .uk-button-transfer, .uk-button-percent, .uk-button-deposit {
  opacity: 0.5;
  transition: all ease 0.3s;
}
.uk-button-expense.active {
    box-shadow: 0px 3px 13px 2px #ff074d;
    z-index: 9;
    opacity: 1;
    outline: 1px solid rgb(255 255 255 / 34%);
  }
  
  .uk-button-incom.active {
    box-shadow: 0px 3px 15px 2px #2ed773;
    z-index: 9;
    opacity: 1;
    outline: 1px solid rgb(255 255 255 / 34%);
  }
  .uk-button-transfer.active {
    box-shadow: 0px 3px 15px 2px #15d0f1;
    z-index: 9;
    opacity: 1;
    outline: 1px solid rgb(255 255 255 / 34%);
  }
  .uk-button-percent.active {
    box-shadow: 0px 3px 15px 2px #db2909;
    z-index: 9;
    opacity: 1;
    outline: 1px solid rgb(255 255 255 / 34%);
  }
  .uk-button-deposit.active {
    box-shadow: 0px 3px 15px 2px #721cb9;
    z-index: 9;
    opacity: 1;
    outline: 1px solid rgb(255 255 255 / 34%);
  }
.hd-incom {
  background-color: #ffb9cd;
}
.hd-expense {
  background-color: #a3e6bd;
}
.hd-transfer {
  background-color: #7ed9e9;
}
.hd-percent {
  background-color: #ebbeb6;
}
.hd-deposit {
  background-color: #d1b2eb;
}

.bud-event-card {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0px 3px 5px rgb(0 0 0 / 15%);


  .cardName, .bud-footer {
    display: flex;
    justify-content: space-between;
  }
  .bud-descr {
    margin-top: 6px;
  }
}
.droptabledata{

  .incom {
    border-left: 3px solid #2abf87 !important;
    .bud-value {
      color:  #2abf87;
    }
  }
  .expend {
    border-left: 3px solid #e94676 !important;
    .bud-value {
      color:  #e94676;
    }
  }
}
.transfer {
  border-left: 4px solid #e94676 !important;
  background-color: #bce0ee;
  background: radial-gradient(circle, rgb(228, 243, 249) 50%, rgb(198, 236, 244) 100%);
}
.transfered {
  border-left: 4px solid #2abf87 !important;
  background-color: #bce0ee;
  background: radial-gradient(circle, rgb(228, 243, 249) 50%, rgb(198, 236, 244) 100%);
}
.bud-card-footer {
  margin-top: 6px;
  border-top: 1px solid #00000054;
}
.bud-event-card:hover {
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 0px 2px 7px rgb(0 0 0 / 38%);
  z-index: 9;
}
.bud-badge {
  background-color: #00a2af;
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.bud-navigation {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  border: 1px solid #e5e5e5;
    background: #f8f8f8;
  .uk-button {
    padding: 0 12px;
  }
}

.credits {
  box-shadow: inset 0px 0px 0px 200px #ff000012;
}
.savings {
  box-shadow: inset 0px 0px 0px 200px #00f3ff12;
}

.totalhider {
  .uk-grid {
    display: none;
  }
  .uk-grid:last-child {
    display: flex;
    margin-top: 0px;
  }
}
.bud-disabled {
  filter: contrast(0.7);
}
.bud-accented {
  background: #faffb1;
    border: 1px solid rgb(255 207 0 / 25%);
}
.bud-accented.transfered, .bud-accented.transfer {
  background: #b1ffc2db;

}
.bud-accented:hover {
  box-shadow: 0 3px 12px rgb(255 225 0 / 87%);
}
#itemMenu {
  transition: all 0.3s;
  opacity: 1;
}
.bud-coox {
  filter: blur(4px);
  opacity: 0 !important;
}
.mtotals {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.middle-text {
	font-size: 1rem;
}
.long-text {
	font-size: 0.7rem;
}
.longest-text {
	font-size: 0.5rem;
}
.extrawide-text {
	font-size: 0.3rem;
}
.super-extrawide-text {
	font-size: 0.2rem;
}
.normal-text {
	font-size: 1rem !important;
}


/// MAIN
#stickytablehead {
  position: fixed;
  top: 0px;
  background: white;
  z-index: 99;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 3px 5px rgb(128 128 128 / 31%);
  .uk-table {
    margin: 0px;
  }

}
.dd-datenav {
  max-height: 90vh;
  overflow: auto;
}
.droptabledata {
  max-width: 300px;
}